.btnHamburger {
    /* width: 20%; */
    /* height: auto !important; */
    margin: 0;
    padding: 0;

    /* position: absolute;
    right: 2rem;
    bottom: 2rem;
    z-index: 9999; */

    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    background-color: var(--sidebar-grey);

    /* display: flex;
    justify-content: center;
    align-items: center; */

}

.btnHamburger button span *::after, 
.btnHamburger button span *::before, 
.btnHamburger button span * {
    background-color: var(--light-grey-letter) !important;
}

.btnHamburger button {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    border: none;
    outline: none;
}

@media (width < 640px) {
    /* Mobile */
    .btnHamburger {
        display: block;
    }
}

@media (width >= 640px) {
    /* Tablet / Desktop */
    .btnHamburger {
        display: none;
    }
}