.containerCashView {
  width: 100%;
  height: auto;
  margin-left: 290px;
}

.infoSectionCashView {
  padding: 1rem;
  width: 100%;
  max-width: 800px;
}

.infoSectionCashView h3 {
  font-size: 2.25rem;
  font-weight: 700;
  margin-bottom: .5rem;
}

.infoSectionCashView p {
  font-weight: 600;
  font-size: 1.2rem;
}

.cashRegisterFilterContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 3.5rem;
}

.cashRegisterFilter {
  width: 45%;
  height: 100%;
  margin: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

.cashRegisterFilter span {
  margin-right: 1rem;
}

.cashRegisterFilter input {
  padding: .5rem;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  outline: none;
}

.filterBarberCashTracking {
  width: 50%;
  height: 100%;
  margin: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

#barberSelect {
  width: 15ch;
  margin-left: 1rem;
  border: 1px solid #ced4da;
  display: inline-block;
}

.table-cash-container {
  padding-bottom: 5rem;
  margin-top: 0rem;
  width: 100%;
  max-width: 1000px;
  min-height: 200px;

  margin: 0rem auto 0 auto;

  display: flex;
  justify-content: center;
  align-items: center;
}

.table-cash-container table {
  width: 100%;
}

.table-cash-container thead {
  background-color: #f6f4fa;
  color: #9f9ca3;
  font-weight: 700;
  position: sticky;
  top: -1px;
  z-index: 1;
}

.table-cash-container th {
  text-align: center;
}

.table-cash-container th, .table-cash-container td {
  padding: 10px;
}

.table-cash-container td {
  margin: auto 0;
  font-weight: 600;
  font-size: .9rem;
  color: #353439;
  
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

#tdService {
  padding: 0;
  margin: 0;
}

#tdService div {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.cut-service-select-notnull {
  width: auto;
}