.containerCashView {
  width: 100%;
  min-height: 100%;
  margin-left: 315px;
  border: thin solid red;
}

.infoSectionCashView {
  padding: 1rem;
  width: 80%;
  max-width: 800px;
}

.infoSectionCashView h3 {
  font-size: 2.25rem;
  font-weight: 700;
  margin-bottom: .5rem;
}

.infoSectionCashView p {
  font-weight: 600;
  font-size: 1.2rem;
}

#tdService {
  /* display: flex;
  justify-content: space-between;
  align-items: center; */

  padding: 0;
  margin: 0;

  /* border: 1px solid red; */
}

#tdService div {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#tdService div .cut-service-select-notnull {
  width: 10ch;
}

#tdService div .cut-service-select-null {
  width: auto;
}