.table-history-container {
  padding-bottom: 2.5rem;
}

.agregado {
  background-color: #d4edda;
  color: #155724;
}

.eliminado {
  background-color: #f8d7da;
  color: #721c24;
}

@media (640px > width) {
  .table-history-container {
    padding-bottom: 0rem;
    margin-bottom: 2.5rem;
  }
}