:root {
  /* Colors */

  --first-color: ;
  --first-alpha-color: ;
  --second-color: ;
  --second-alpha-color: ;
  --third-color: ;
  --third-alpha-color: ;

  --white-color: #FFFFFF;
  --white-alpha-color: #FFFFFFF0;
  --gray-color: #CCCCCC;
  --gray-alpha-color: #CCCCCCC0;
  --black-color: #000000;
  --black-alpha-color: #00000050;
  --bg-color-sidebar: #39383E;
  --super-light-blue: #F8F4FC;
  --white: #FFFFFF;
  --light-grey-bg-form: #D9D9D9;
  --light-grey-letter: #DFDEE3;
  --dark-blue: #383F59;
  --line-grey: #4E4E56;
  --sidebar-grey: #2F2E33;

  --box-shadow: #00000025;

  --text-color: #222222;

  --button-color:#908cac;

  /* Fonts */

  --primary-font: 'Poppins', system-ui;

  /* Measures */

  --max-width: 1280px;
  --header-height: 80px;
}

html {
  font-family: var(--primary-font);
}

body {
  width: 100%;

  background-image: url('/assets/waves.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  overflow-x: hidden;
  overflow-y: hidden;
}

.main-container {
  width: 100%;
  height: 100vh;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  min-width: 325px;
  max-width: 350px;
  border-radius: 1rem;
  padding: 2rem;
  background-color: var(--bg-color-sidebar);
  
  transform: scale(.85);

  color: var(--light-grey-letter);
}

.form-container h1 {
  margin: .5rem 0rem;
  font-size: 1.75rem;
}

.form-container hr {
  border: 0;
  height: 1px;
  border-top: 1px solid var(--line-grey);
  margin: 0rem;
}

.msg-login {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

.sr-only{
  display: none;
}

input, button {
  border: 4px;
  border: unset;
  border-radius: 15px;
  padding: 15px 30px;
  font-size: larger;

  margin-top: 1rem;
  margin-bottom: 1rem;
}

input:focus {
  border: none;
  outline: none;
}

input[type="password"] {
  margin-bottom: 2rem;
}

button {
  background-color: #1d1d1d;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.3s ease;

  width: 60%;
  margin: 1.5rem auto 0rem;
}

button:hover {
  background-color: var(--button-color);
  color: var(--dark-blue);
}

.login-loader-container {
  width: 100%;
  height: auto;
  display: none;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.login-loader {
  width: 50px;
  height: 50px;
}

.escondido {
  display: none;
}

.error {
  color: #ff5151;
  margin: 1.5rem 0rem 0rem 0rem;
  text-align: center;
}

.none {
  display: none !important;
}

.show {
  display: block !important;
}