/* body {
  background-color: #2f2e33;
} */

svg {
  fill: orange;
}

.presentation-container {
  width: 100%;
  min-width: 375px;
  padding: 1rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.presentation-content {
  width: 100%;
  height: 90vh;

  display: flex; 
  align-items: center; 
  justify-content: center;
  flex-direction: column-reverse;

  gap: 10px; 
}

.presentation-text {
  display: flex;
  justify-content: center;
  align-items: flex-end;

  height: 5rem;
}

.presentation-text h1 {
  font-size: 2rem; 
  font-weight: bold;
  text-align: center;
}

.neon-svg {
  width: 80%;
  height: 60vh;

  filter: drop-shadow(0 0 5px #515151) drop-shadow(0 0 15px #515151);
  animation: neon-intensity 5s infinite;
  margin-right: 0;
}

@keyframes neon-intensity {
  0%, 100% {
    filter: drop-shadow(0 0 5px #515151) drop-shadow(0 0 15px #515151);
  }
  50% {
    filter: drop-shadow(0 0 15px #515151) drop-shadow(0 0 30px #515151);
  }
}

@media (640px > width) {
  .presentation-content {
    height: 80vh;
  }
  
  .presentation-text h1 {
    font-size: 1.8rem !important;
    text-align: center;
  }

  .neon-svg {
    width: 100%;
    height: 50vh;
  }
}