.present-container {
    padding: 1rem;
    
    width: 100%;
    min-width: 375px;
    max-width: 1000px;
    height: auto;
}

.present-container h2 {
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: .5rem;
}

.present-container p {
    font-weight: 600;
    font-size: 1.2rem;

    margin-bottom: 1rem;
}

.present-container-filters {
    width: 100%;
    height: 3.5rem;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.present-container-filter {
    width: 100%;
    height: 100%;
    margin: 0rem 0rem 1rem 0rem;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.present-container-filter input {
    padding: .5rem;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    outline: none;
}

#barberSelect, 
#barberSelectHistory {
    width: 15ch;
    border: 1px solid #ced4da;
    display: inline-block;
}

.totalEarned {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    
    margin: 1rem 0rem;

    width: 100%;
}

.totalEarnedBtn {
    width: 15%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.totalEarnedInfo {
    text-align: center;
    width: 85%;

    display: flex;
    justify-content: space-evenly;
}

.totalEarnedInfo h5 {
    display: flex;
    flex-direction: column;

    /* border: 1px solid red; */

    border-left: 1px solid var(--gray-color);
    border-right: 1px solid var(--gray-color);
    padding: 0rem .5rem;

}

.totalEarnedInfo-br {
    display: none;
    margin-bottom: .5rem;
}

.present-container-btn {
    width: 100%;
}

.present-container-btn button {
    width: 16ch;
}

.pay-button {
    margin-bottom: 1rem;
}

@media (640px > width) {
    .present-container-filters {
        width: 100%;
        height: auto;
    
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
    }

    .totalEarned {
        width: 100%;
        justify-content: space-evenly;
        flex-direction: row;
    }
    
    .totalEarnedBtn {
        width: 40%;
        margin-bottom: 1rem;
    
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    
    .totalEarnedInfo {
        width: 40%;

        flex-direction: column;
    }

    .totalEarnedInfo h5 {
        margin-bottom: .5rem;
    }

    .totalEarnedInfo-br {
        display: block;
    }
    
}


@media (1300px < width) {
    .present-container {
        max-width: 1200px;
        /* border: 1px solid red; */
    }
}