.table-container {
    width: 100%;
    max-width: 1000px;
    min-height: 100px;
    height: auto;
  
    margin: 0 auto 3rem;
    
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}
   
.table-container table {
    width: 100%;
}

.table-container thead {
    background-color: #f6f4fa;

    position: sticky;
    top: -1px;
    z-index: 1;

    color: #9f9ca3;
    font-weight: 700;
}

.table-container th {
    text-align: center;
}

.table-container th, .table-container td {
    padding: 10px;
}

.table-container td {
    margin: auto 0;
    overflow: hidden;

    font-weight: 600;
    font-size: .9rem;
    color: #353439;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
}

.table-container td:nth-child(1),
.table-container td:nth-child(4) {
    text-align: center;
}

.table-container th:nth-child(3), .table-container td:nth-child(3),
.table-container th:nth-child(4), .table-container td:nth-child(4),
.table-container th:nth-child(5) div, .table-container td:nth-child(5) div,
.table-container th:nth-child(6), .table-container td:nth-child(6),
.table-container th:nth-child(9), .table-container td:nth-child(9),
.table-container th:nth-child(10), .table-container td:nth-child(10) { 
    white-space: nowrap; 
    max-width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.table-container .table-body tr td:last-child {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 45px;
}

.container-btns-actions, .btns-actions { 
    white-space: nowrap; 
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.table-container.table-manageemployees-container {
    max-width: 700px;
}

.table-manageemployees-container th:nth-child(5), .table-manageemployees-container td:nth-child(5) {
    max-width: 65px;
    overflow: visible;
}

.table-container .table-btns {
    border: none;
    outline: none;

    margin: 0 1rem;
}

.table-container .bi-pencil-fill, .bi-trash-fill  {
    background-color: var(--white);
    transition: color 0.63s ease;
}

.table-container .bi-pencil-fill:hover {
    color: #0000ff;
}

.table-container .bi-trash-fill:hover {
    color: #ff0000;
}

.table-payment-container table {
    margin: 0 auto;
    width: 500px !important;
}

.table-payment-container table thead tr th:last-child {
    white-space: wrap; 
    max-width: 150px;
    overflow: hidden;
}

#tdService {
    padding: 10px;
    margin: 0;

    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

#tdService div {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 18ch;
}

.span-red {
    color: red !important;
}

.table-config-payment-container {
    padding: 0rem 0rem 5rem 0rem;
}

.table-payment-container {
    padding-bottom: 2.5rem;
}

.table-payment-container th:nth-child(3), .table-payment-container td:nth-child(3), 
.table-payment-container th:nth-child(4), .table-payment-container td:nth-child(4) { 
    white-space: wrap; 
    max-width: 120px;
    overflow: visible;
}


.table-voucher-container {
    padding-bottom: 2.5rem;
}

@media (640px > width) {
    .table-container {
        padding: 0rem 1rem;
        margin: 0rem 0rem 5rem;
        overflow-x: auto;
    }      

    .table-container table {
        min-width: 1000px
    }

    .table-payment-container table {
        min-width: 600px;
        max-width: 600px;
    }

    .table-config-payment-container table {
        min-width: 350px;
        max-width: 350px;
    }

    .table-config-payment-container th:nth-child(1), .table-config-payment-container td:nth-child(1) { 
        white-space: nowrap; 
        max-width: 150px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}