/* Component properties */

.contenedorCalendario {
  width: 80%;
  height: 100vh;

  padding: .5rem;

  margin-left: 315px;
}

/* .fc-day-mon {
} */

/* .fc-day-sun {
  cursor: not-allowed;
  background-color: var(--gray-color);
} */

/* .fc-day-mon:hover,
.fc-day-tue:hover,
.fc-day-wed:hover,
.fc-day-thu:hover,
.fc-day-fri:hover,
.fc-day-sat:hover,
.fc-day-sun:hover {
  cursor: pointer;
} */

/* .fc-allowed-selection {
  cursor: default !important;
}

.fc-time-grid .fc-slats td, 
.fc-day-grid .fc-day {
  cursor: pointer !important;
} */

.fc-day-mon,
.fc-day-tue,
.fc-day-wed,
.fc-day-thu,
.fc-day-fri,
.fc-day-sat,
.fc-day-sun {
  cursor: pointer;
}

.fc-scrollgrid-sync-inner a {
  text-decoration: none;
}

.fc-col-header-cell-cushion,
.fc-daygrid-day-number {
  color: black;
}

/* Media queries */

@media (width < 640px) {
  /* Mobile */
  .contenedorCalendario {  
    margin-left: 0px;
    width: 100%;
    min-width: 320px;
  }

  .fc-toolbar-chunk:first-child button {
    display: none !important;
  }
}

@media (1080px > width) {

}