/* CAMBIOS A IMPLEMENTAR CON BOOTSTRAP  https://getbootstrap.com/docs/5.3/components/modal/#how-it-works posiblemente diseno de la modal en varying modal content */

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 50%;
  height: 80vh;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
}

.modal-footer {
  padding: 10px;
  text-align: right;
}

.modal-close {
  background-color: #aaa;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

/* .fade {
  z-index: 100000;
} */